test/data/msmi/schema/OspModelDescription.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://opensimulationplatform.com/MSMI/OSPModelDescription"
           xmlns:osp="http://opensimulationplatform.com/MSMI/OSPModelDescription">
    <xs:element name="OspModelDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="VariableGroups" type="osp:variablegroups"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="variablegroups">
        <xs:sequence>
            <xs:element name="VariableGroup" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Variable" maxOccurs="unbounded" type="osp:variable"/>
                    </xs:sequence>
                    <xs:attribute name="name" use="required"/>
                    <xs:attribute name="type" use="required"/>
                    <xs:attribute name="causality"/> <!-- Temporarily cheating a little bit -->
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="variable">
        <xs:attribute name="name" use="required"/>
    </xs:complexType>
</xs:schema>
